.r {
    font-family:'Times New Roman', Times, serif; 
    max-width:794px; 
    width:100%; 
    height:1122px; 
    box-sizing: border-box;
    border-style:solid; 
    padding:10px; 
}

.name, .pInfo {
    text-align:center; 
}

.section-header {

    border-bottom:2px solid black; 
}

.details {
    display:flex; 
    align-items:center; 
    justify-content:space-between; 
}

.details h2 {
    margin:0px; 
}

p {
    white-space: pre-line; 
}
